<!DOCTYPE html>
<html>
<head>
  <title>Rails Dev Kev</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Titillium+Web:400,600' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
  <!-- <div class="container"> -->
    <%= render partial: 'layouts/navbar' %>
    <body id="home" data-spy="scroll" data-target=".navbar" data-offset="100">
    <%= yield %>
  <!-- </div> -->
</body>
<!-- <%= render partial: 'layouts/footer' %> -->
</html>
